.forgot-password-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 24px;
  width: 100%;
}

.forgot-password-form-container > div {
  width: 100%;
}

.forgot-password-form-container > div > div {
  width: 100%;
}

.forgot-password-form__link {
  text-decoration: none;
  color: #4C4CFF;
  transition: .3s;
}

.forgot-password-form__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.forgot-password-form__input {
  display: block;
  max-width: 358px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  border-left: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  padding-bottom: 7px;
  background: #000000;
}

.forgot-password-form__field {
  position: relative;
  display: block;
  margin: 0 auto 30px auto;
}

.forgot-password-form__bottom-text {
  margin: 0 auto;
  text-align: center;
}

.input_size_default {
  width: 480px;
}