.burger-constructor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  height: calc(100vh - 228px);
  width: 100%;
  max-width: 600px;
}

.burger-constructor__burger-price-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger-constructor__burger-price {
  padding-right: 10px;
}