.app {
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  margin: 0 auto;
  padding: 0;

  background-color: #131316;
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

.main {
  display: flex;
  align-items:flex-start;
  justify-content: center;

  width: 100%;
  max-width: 1280px;

  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 66%;

  background-color: #2F2F37;
}

::-webkit-scrollbar-thumb {
  height: 49%;
  
  background-color: #8585AD;
}