.header {
  display: flex;
  align-items: center;

  width: 100%;

  background-color: #1C1C21;
}

.header__menu {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1280px;

  margin: 0 auto;
}

.header__links {
  display: flex;
  align-items: center;

  flex: 1;

  padding: 0;
  margin: 0;

  list-style: none;
}

.header__links_right {
  justify-content: end;
}

.header__link {
  display: flex;
  align-items: center;
}

.header__link_type_login {
  justify-content: end;
}